quarkus:
    datasource:
        db-kind: postgresql
        username: postgres
        password: postgres
        jdbc:
            url: jdbc:postgresql://localhost:5432/postgres

    hibernate-orm:
        database:
            generation: update
        log:
            sql: true

    http:
        port: 8000
